DEVI_DB_CATALOG=Devi.WebApi.Test
DEVI_DB_DATA_SOURCE=TODO
DEVI_DB_PASSWORD=TODO
DEVI_DB_USER=TODO

DEVI_DISCORD_BASE_URL=http://host.docker.internal:42010/
DEVI_IDENTITY_SERVER_URL=http://host.docker.internal:42030/

DEVI_OPENSEARCH_URL=TODO
DEVI_OPENSEARCH_USER=TODO
DEVI_OPENSEARCH_PASSWORD=TODO

DEVI_ENVIRONMENT=Test

DEVI_MONGODB_DATABASE=TODO
DEVI_MONGODB_CONNECTION=TODO

DEVI_DOCKER_CONNECTION=tcp://host.docker.internal:2375

DEVI_RABBITMQ_HOST_NAME=TODO
DEVI_RABBITMQ_VIRTUAL_HOST=Test

TZ=Europe/Berlin