DEVI_DB_CATALOG=TODO
DEVI_DB_DATA_SOURCE=TODO
DEVI_DB_PASSWORD=TODO
DEVI_DB_USER=TODO
DEVI_DISCORD_BASE_URL=TODO
DEVI_OPENSEARCH_URL=TODO
DEVI_OPENSEARCH_USER=TODO
DEVI_OPENSEARCH_PASSWORD=TODO
DEVI_ENVIRONMENT=TODO