DEVI_DB_CATALOG=Devi.IdentityServer.Test
DEVI_DB_DATA_SOURCE=TODO
DEVI_DB_PASSWORD=TODO
DEVI_DB_USER=TODO

DEVI_OPENSEARCH_URL=TODO
DEVI_OPENSEARCH_USER=TODO
DEVI_OPENSEARCH_PASSWORD=TODO

DEVI_ENVIRONMENT=Test

DEVI_WEBAPI_CLIENT_ID=TODO
DEVI_WEBAPI_CLIENT_SECRET=TODO

DEVI_WEBAPP_CLIENT_ID=TODO
DEVI_WEBAPP_CLIENT_SECRET=TODO
DEVI_WEBAPP_REDIRECT_URI=http://localhost:3000/signin
DEVI_WEBAPP_SILENT_REDIRECT_URI=http://localhost:3000/signin-renew
DEVI_WEBAPP_CORS_ORIGINS=http://localhost:3000

DEVI_DISCORD_OAUTH_CLIENT_ID=TODO
DEVI_DISCORD_OAUTH_CLIENT_SECRET=TODO

TZ=Europe/Berlin