@page
@model Devi.ServiceHosts.IdentityServer.Pages.Account.Login.Index

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
      <div class="col-sm-6">
          <div class="card">
              <div class="card-header">
                  <h2>External Account</h2>
              </div>
              <div class="card-body">
                  <ul class="list-inline">
                  </ul>
              </div>
          </div>
      </div>
    </div>
</div>