// Colors
$color-text: #f4f6ee;
$color-background: #000000;
$color-primary: #51417c;
$color-secondary: #1d2112;
$color-accent: #6d58a7;

$main-background-color: $color-background;
$main-text-color: $color-text;
$divider-color: rgba($color-text, 0.14);

$main-text-size: 14px;
$main-border-radius: 6px;

$small-space: 16px;
$medium-space: 32px;
$large-space: 64px;

$phone-size: 600px;
$tablet-size: 992px;
$desktop-size: 1200px;
