DEVI_AUTHORITY = "${DEVI_AUTHORITY}"
DEVI_CLIENT_ID = "${DEVI_CLIENT_ID}"
DEVI_CLIENT_SECRET = "${DEVI_CLIENT_SECRET}"
DEVI_REDIRECT_URI = "${DEVI_REDIRECT_URI}"
DEVI_POST_LOGOUT_REDIRECT_URI = "${DEVI_POST_LOGOUT_REDIRECT_URI}"
DEVI_SILENT_REDIRECT_URI = "${DEVI_SILENT_REDIRECT_URI}"