DEVI_DISCORD_TOKEN=TODO

DEVI_RABBITMQ_HOST_NAME=TODO
DEVI_RABBITMQ_VIRTUAL_HOST=Test

DEVI_OPENSEARCH_URL=TODO
DEVI_OPENSEARCH_USER=TODO
DEVI_OPENSEARCH_PASSWORD=TODO

DEVI_ENVIRONMENT=Test

TZ=Europe/Berlin